:root{
  --text-color: var(--mainColor);

}
.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.header svg {
  color: var(--text-color);
}
.header > a {
  fill: var(--text-color);
  margin: 24px;
}
.content {
  display: flex;
  flex-direction: row;
  align-items: baseline;
  justify-content: space-evenly;
  width: 108px;
}
.name {
  font-size: 21px;
  color: rgba(37, 18, 30, 0.87);
  font-family: "Yrsa", serif, Georgia, Cambria, "Times New Roman", Times, serif;
  /*font-family: "korolev", sans-serif;*/

}
.icon {
  font-size: 20px;
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

