:root {
  --mainColor: #d1345b;
}
.t{
  font-family: "Crimson Text", sans-serif, Georgia, Cambria, "Times New Roman",
  Times, serif;
  font-size: 17px;
  line-height: 24px;
  font-weight: 400;
  color: rgba(0, 0, 0, 0.83);
  width: 384px;
  margin-right: 32px;
  float: left;
  margin-top: 24px;
}
.t:last-of-type{
  margin-right: 0;
}
.t h2 a{
  color: var(--mainColor);
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  font-family: Roboto, sans-serif;
  font-weight: 500;
  text-indent: 0;
  text-align: center;
  font-size: 22px;
  line-height: 32px;
  margin-top: 32px;
}
.grid{
  margin: 8px auto 0;
  max-width: 800px;
  display: flex;
  flex-direction: row;
}
@media screen and (max-width: 800px) {
  .grid{
    max-width: 384px;
    flex-direction: column;
  }
}

body{
  /*background: repeating-linear-gradient(#ffffff00 0px,#fff0 31px,#d3d3d3 32px);*/
  /*background: repeating-linear-gradient(*/
  /*        #fff0 0px,*/
  /*        #fff0 7px,#d3d3d3 8px,#fff0 9px,*/
  /*        #fff0 15px,#d3d3d3 16px,#fff0 17px,*/
  /*        #fff0 23px,#d3d3d3 24px,#fff0 25px,*/
  /*        #fff0 31px, #707070 32px);*/
}
html{
  background: repeating-linear-gradient(to left, #ffffff00 0px,#fff0 31px,#d3d3d3 32px);
}