body {
  /*background: #EFEFEF;*/
}
:root {
  --mainColor: #d1345b;
}
button {
  padding: 4px;
  margin: 4px;
}
.card {
  box-shadow: 0 0 32px -4px rgba(0, 0, 0, 0.57);
  /*padding: 32px;*/
  margin: 32px;
  display: inline-block;
  font-size: 24px;
  border-radius: 20px;
  background: var(--mainColor);
  width: 200px;
  height: 100px;
  line-height: 100px;
  text-align: center;
  color: #ffffff;
}
