@import url("https://fonts.googleapis.com/css?family=Crimson+Text:300,400,500|Roboto:200,300,400,500,600,700");
.portfolio {
  margin: 0 auto;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  font-family: Roboto, sans-serif;
  max-width: 724px;
  padding-left: 16px;
  padding-right: 8px;
}

.portfolio > h1 {
  margin: 32px 0 16px;
  font-size: 1.4em;
  line-height: 1em;
  padding: 0;
  font-family: "Yrsa", serif, Georgia, Cambria, "Times New Roman", Times, serif;
}
h2.title {
  margin-top: 32px;
  font-weight: 600;
  letter-spacing: 0;
  font-size: 42px;
  color: rgba(0, 0, 0, 0.84);
  line-height: 32px;
  font-family: "Crimson Text", serif, Georgia, Cambria, "Times New Roman", Times,
    serif;
}
.date {
  font-family: Roboto, sans-serif;
  margin-top: 16px;
  color: rgba(0, 0, 0, 0.54);
  font-size: 16px;
  font-weight: 300;
  line-height: 32px;
  margin-bottom: 16px;
}
.content h1 {
  font-weight: 400;
  font-size: 22px;
  line-height: 32px;
}
.content h2 {
  font-weight: 400;
  font-size: 18px;
  line-height: 32px;
}
.content p {
  font-family: "Crimson Text", sans-serif, Georgia, Cambria, "Times New Roman",
    Times, serif;
  font-size: 22px;
  line-height: 32px;
  margin-bottom: 32px;
  font-weight: 400;
  color: rgba(0, 0, 0, 0.83);
}
