@import url("https://fonts.googleapis.com/css?family=Yrsa:300,400");
.portfolio {
  margin: 0 auto;
  max-width: 740px;
  padding-left: 20px;
  padding-right: 20px;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
}

.portfolio > h1 {
  margin: 32px 0 16px;
  font-size: 1.4em;
  line-height: 1em;
  padding: 0;
  /*text-transform: uppercase;*/
  font-family: "Yrsa", serif, Georgia, Cambria, "Times New Roman", Times, serif;
}
h2.title {
  padding: 0;
  color: var(--mainColor);
  text-transform: uppercase;
  max-width: 13em;
  font-size: 2em;
  line-height: 2.35rem;
  font-family: "korolev", sans-serif;
  font-weight: 500;
  margin: 1.45rem 0 0.45rem -4%;
}
.date {
  font-size: 1.1em;
  font-family: "Yrsa", serif;
  color: var(--mainColor);
  line-height: 1.45rem;
  margin-bottom: 1.45rem;
  margin-top: 0;
}
.content {
}
.content h1 {
  font-family: Roboto, sans-serif;
  font-style: normal;
  letter-spacing: 0;
  font-size: 30px;
  line-height: 1.15;
  margin-top: 23px;
  font-weight: 400;
  margin-bottom: 8px;
}
.content h2 {
  font-family: Roboto, sans-serif;
  font-style: normal;
  font-size: 24px;
  line-height: 1.15;
  margin-top: 13px;
  font-weight: 400;
  margin-bottom: 4px;
}
.content p {
  --x-height-multiplier: 0.375;
  --baseline-multiplier: 0.17;
  font-weight: 400;
  font-style: normal;
  font-size: 24px;
  line-height: 1.58;
  margin-bottom: 0.5em;
  color: rgba(14, 30, 37, 0.87);
  letter-spacing: -.02em;
  font-family: "Yrsa", serif, Georgia, Cambria, "Times New Roman", Times, serif;
}

@media screen and (max-width: 1199px) {
  .portfolio {
    max-width: 740px;
    margin: 0 auto;
  }
}
