@import url("https://fonts.googleapis.com/css?family=Yrsa:300,400,600|IBM+Plex+Serif:300,400,500|Roboto:200,300,400,500,600,700");
.portfolio {
  margin: 0 auto;
  max-width: 585px;
  padding-left: 18px;
  padding-right: 18px;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
}

.portfolio > h1 {
  margin: 32px 0 16px;
  font-size: 1.4em;
  line-height: 1em;
  padding: 0;
  font-family: "Yrsa", serif, Georgia, Cambria, "Times New Roman", Times, serif;
}
h2.title {
  padding: 0;
  max-width: 13em;
  margin: 0;
  margin-top: 1.45rem;
  font-style: normal;
  font-weight: 600;
  letter-spacing: 0;
  font-size: 42px;
  color: rgba(0, 0, 0, 0.84);
  font-family: "Yrsa", serif, Georgia, Cambria, "Times New Roman", Times, serif;
}
.date {
  font-family: Roboto, sans-serif;
  line-height: 1.45rem;
  margin-bottom: 1.45rem;
  margin-top: 0;
  color: rgba(0, 0, 0, 0.54);
  font-size: 16px;
  font-weight: 400;
}
.content h1 {
  font-family: Roboto, sans-serif;
  font-style: normal;
  letter-spacing: -0.5px;
  font-size: 18px;
  /*margin-top: 16px;*/
  font-weight: 600;
  /*margin-bottom: 8px;*/
  line-height: 1.6;

  color: rgba(0, 0, 0, 0.84);
}
.content h2 {
  font-family: Roboto, sans-serif;
  font-style: normal;
  /*margin-top: 8px;*/
  font-weight: 600;
  /*margin-bottom: 4px;*/
  font-size: 16px;
  /*text-align: center;*/
  line-height: 1.6;

  letter-spacing: -0.3px;
  color: rgba(0, 0, 0, 0.84);
}
.content p {
  font-weight: 500;
  font-style: normal;
  font-size: 17.4px;
  text-indent: 36px;
  line-height: 1.6;
  color: rgba(14, 30, 37, 0.87);
  text-align: justify;
  font-family: "IBM Plex Serif", sans-serif, Georgia, Cambria, "Times New Roman", Times, serif;
}